*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background-image:url("https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;

}

.overlay{

    width:800px;

    background:rgba(0,0,0,.55);

    backdrop-filter:blur(8px);

    border-radius:30px;

    padding:45px;

    text-align:center;

    color:white;

    box-shadow:0 0 45px rgba(0,0,0,.8);

    animation:aparecer 1.2s;
}

h1{

    font-family:'Cinzel',serif;

    font-size:52px;

    color:#ffb347;

    margin-bottom:20px;

    text-shadow:0 0 20px orange;

}

p{

    font-size:21px;

    line-height:1.8;

    margin-bottom:25px;

}

.tiger{

    width:520px;

    max-width:100%;

    border-radius:25px;

    box-shadow:0 0 35px orange;

    transition:.5s;

}

.tiger:hover{

    transform:scale(1.05);

    box-shadow:0 0 60px orange;

}

.buttons{

    margin-top:30px;

}

button{

    padding:15px 30px;

    margin:10px;

    border:none;

    border-radius:15px;

    background:linear-gradient(45deg,#ff9800,#ff5722);

    color:white;

    cursor:pointer;

    font-size:18px;

    transition:.4s;

}

button:hover{

    transform:translateY(-5px) scale(1.08);

    box-shadow:0 0 25px orange;

}

#mensagem{

    margin-top:30px;

    font-size:23px;

    color:#FFD54F;

    font-weight:bold;

}

@keyframes aparecer{

    from{

        opacity:0;
        transform:translateY(40px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}
